@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

header{
    background-image: url("../img/dori-splashbg.png");
    padding: 15px;
    margin: 0;
    text-align: center;
    border-bottom: 3px solid; 
}

nav a{
    margin-left: 1.5cm;
    margin-right: 1.5cm;
    color: rgb(255, 188, 255);
    text-decoration: solid;
    font-size: 20px;

}

nav > a:hover {
    color: rgb(122, 1, 173);
    font-size: 1.6em;
    transition: 1.5s font-size;
}

figcaption{
    padding: 1.5em;
    font-size: 18px;
}

@font-face{
    font-family: 'Genshin';
    src : url('font.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

body{
    font-family: 'Genshin';
    background-color: rgb(151, 71, 227);

}

header img {
    align-items: center;
    display: block;
    margin: auto;
    width: 10.5vw;
    height: 8vh;
    min-width: 200px;
    min-height: 70px;
    margin-top: -15px;
    margin-bottom: 7px;
}

footer {
    position: absolute;
    text-align: center;
    background-color: rgb(96, 5, 93);
    color: #fff;
    padding: 1% 0;
    display: block;
    width: 100%;
}
